*{
    background-color: gray(5);
padding: auto;

}
body h2{
    color: rgb(16, 92, 132);
    font-size: x-large;
    font-weight: bold;

}
@media only screen and (min-width: 576px){
    img{
        width: 200px;
    }
    }
body h3{
    color: rgb(65, 140, 181);
    font-size: large;
    font-weight: bold;
}
.col{
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}
